body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Arial", cursive;
}

h2 {
    color: #398463;
}

header h2 {
    color: #c8fffa;
}

footer {
    background-image: linear-gradient(to right, #a0a7a5, rgb(8, 82, 34));
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #033523, #30c59816, #f3f4f2);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}